<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<main>
		<!-- PAGE BANNER SECTION -->
		<div class="page-banner-section section">
			<div class="container">
				<div class="row">
					<div class="page-banner-content col-xs-12">
						<h2>Forget password</h2>
						<ul class="breadcrumb">
							<li><a th:href="@{/home}">Home</a></li>
							<li class="active">Forget Password</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE BANNER SECTION -->

		<!-- PAGE SECTION START -->
		<div class="page-section section pt-100 pb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-8 col-12 m-auto">
						<div class="login-reg-form">
							<form name="form" ng-submit="forget()" novalidate ng-if="!checkcode_forget">
									<div class="card">
										<div class="card-header">Lấy lại mật khẩu</div>
										<div class="card-body">
											<label for="r_name">Vui lòng nhập email hoặc username đã đăng ký <span class="required">*</span></label>
                                        <input id="r_name" type="text" name="name" ng-model="name" required  ng-minlength="1"  ng-maxlength="50" />
                                         <i class="fa fa-check text-success" ng-show="form.name.$dirty && form.name.$valid"></i>
                                         <p class="text-danger" ng-show="form.name.$invalid">Không được để trống</p>
										</div>
										<div class="card-footer" ng-if="!check_forget">
											<button class="btn btn-dark col-12" value="forget" ng-click="password.forget(name)" ng-disabled="form.$pristine || form.$invalid">Gửi verification code về email</button>
										</div>
										<div class="card-footer" ng-if="check_forget">
											<button class="btn btn-dark" value="forget" ng-click="password.forget(name)" ng-disabled="form.$pristine || form.$invalid">Gửi lại verification code về email</button>
										</div>
									</div> <br> 
								</form>
								<div class="row  "  ng-if="forget_error"> 
	                                   <p class="text-danger text-center"><b><br />{{forget_error}}</b></p>
	                             </div>
							<br />
					              <form >
	                                <div class="row border border-info border border-3"  ng-if="check_forget">
	                                   
	                                    <div class="col-xs-12 mb-20 mt-2 ">
	                                        <label for="r_c_name" > <h3 class="text-info">Verification CODE</h3></label>
	                                        <input id="r_c_name" type="text" ng-model="code"/>
	                                    </div>
	                                    
	                                    <div class="col-xs-12 mb-2">
	                                       
	                                         <input value="CONFIRM" type="submit" class="bg-info" ng-click="password.confirm(code)">
	                                    </div>
	                                </div>
	                            </form>
							<br />
					             <div class="row" ng-if="checkcode_forget">
                                <div class="col-12 ">
                                    <form name="change" ng-submit="change()" novalidate>
                                      <h3 class="text-warning">Change password</h3>
                                        <div class="fix mb-20">
                                             <label class="" for="r_password" >Account password<span class="required">*</span></label>
		                                     <input id="r_password" type="password" name="password" ng-model="changepassword.pw" required ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/" >
		                                     <i class="fa fa-check text-success" ng-show="change.password.$dirty && change.password.$valid"></i>
		                                     <p class="text-danger" ng-show="change.password.$invalid">Nhập đúng định dạng password (chữ cái, ký tự và số)</p>
                                        </div>
                                        <div class="fix mb-20">
                                             <label class="" for="r_c_password" >Confirm password<span class="required">*</span></label>
	                                         <input id="r_c_password" type="password" name="confirmpassword" ng-model="changepassword.cfpw" required ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/">
	                                    	 <i class="fa fa-check text-success" ng-show="change.confirmpassword.$dirty && change.confirmpassword.$valid"></i>
	                                         <p class="text-danger" ng-show="change.confirmpassword.$invalid">Nhập đúng định dạng password (chữ cái, ký tự và số)</p>
                                        </div>
                                         <div class="col-xs-12">
                                            <input type="submit" class="btn" value="change" ng-click="password.changepassword(changepassword)" ng-disabled="change.$pristine || change.$invalid"/>
                                           
                                       
                                       
                                    </label>
                                        </div>
                                         <a ng-if="check_backlogin" href="/login">Back to Login?</a>
                                    </form>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- PAGE SECTION END -->
	</main>
</body>
</html>