<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<main>
		<!-- PAGE BANNER SECTION -->
		<div class="page-banner-section section">
			<div class="container">
				<div class="row">
					<div class="page-banner-content col-xs-12">
						<h2>login</h2>
						<ul class="breadcrumb">
							<li><a th:href="@{/home}">Home</a></li>
							<li class="active">login</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE BANNER SECTION -->

		<!-- PAGE SECTION START -->
		<div class="page-section section pt-100 pb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-8 col-12 m-auto">
						<div class="login-reg-form">
							<form th:action="@{/forgetpassword}" method="post" th:object="${userRequest}">
									<div class="card">
										<div class="card-header">Lấy lại mật khẩu</div>
										<div class="card-body">
											<label for="">mời bạn nhập vào username</label>
											<input type="text" th:field="*{Username}">
										</div>
										<div class="card-footer">
											<button class="btn btn-success">Gửi lại mật khẩu</button>
										</div>
									</div> <br> 
									<label th:text="${message}"></label>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- PAGE SECTION END -->
	</main>
</body>
</html>