
                        <div class="shop-bar mb-6">
                            <ul class="shop-tablist nav">
                                <li><a class="active" href="#product-grid" data-bs-toggle="tab"><i class="fa fa-th"></i></a></li>
                                <li><a href="#product-list" data-bs-toggle="tab"><i class="fa fa-list"></i></a></li>
                            </ul>
                            <div class="item-per-page">
                                <select>
                            <option value="1">9 items/pages</option>
                            <option value="2">12 items/pages</option>
                            <option value="3">15 items/pages</option>
                            <option value="4">18 items/pages</option>
                        </select>
                            </div>
                            <p>show item 1-9 of 36</p>
                        </div>
                        <div class="tab-content section">
                            <div class="tab-pane active" id="product-grid">
                                <div class="row">
                                    <!-- product-item start -->
                                    <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6 col-12 mb-8" th:each=" p: ${items}">
                                        <div class="product-item text-center">
                                            <div class="product-img">
                                                <a class="image" th:href="@{|/product/detail/${p.id}|}"><img th:src="@{|/admin/img/${p.image1}|}" alt=""/></a>
                                                <a th:attr="ng-click=@{|cart.add(${p.id})|}" class="add-to-cart">Add to cart</a>
                                                <div class="action-btn fix">
                                                    <a href="wishlist.html" title="Wishlist"><i class="pe-7s-like"></i></a>
                                                    <a href="product-details.html" title="Quickview"><i class="pe-7s-look"></i></a>
                                                    <a th:href="@{/product/detail}" title="Compare"><i class="pe-7s-repeat"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h5 class="title"><a href="product-details.html" th:text="${p.name}"></a></h5>
                                                <span class="price"><span class="new">[[*{#numbers.formatDecimal(p.price, 0, 'COMMA', 0, 'POINT')}]] VNĐ</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="page-pagination text-center col-xs-12 fix mb-40">
                                        <ul>
                                            <li><a href="shop.html"><i class="fa fa-angle-left"></i></a></li>
<!--                                        <li class="active"><a href="shop.html">1</a></li> -->
                                            <li  th:each="i: ${#numbers.sequence(1, totalPages)}">
                                            	<a th:if="${cid} != null and ${scid} == null" class="next" th:href="@{|/product/home/page/${i}?cid=${cid}|}">[[${i}]]</a>
					        					<a th:if="${scid} != null and ${cid} == null" class="next" th:href="@{|/product/home/page/${i}?scid=${scid}|}">[[${i}]]</a>
					        					<a th:unless="${cid} != null or ${scid} != null" class="next" th:href="@{|/product/home/page/${i}|}">[[${i}]]</a>
                                            </li>
                                            <li><a href="shop.html"><i class="fa fa-angle-right"></i></a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="product-list">
                                <div class="row">
                                    <!-- list product-item start -->
                                    <div class="col-xs-12 mb-40" th:each=" p: ${items}">
                                        <div class="list-product-item">
                                            <div class="list-product-img">
                                                <a class="image" th:href="@{|/product/detail/${p.id}|}"><img th:src="@{|/admin/img/${p.image1}|}" alt=""/></a>
                                            </div>
                                            <div class="list-product-info fix">
                                                <h2 class="title"><a th:href="@{|/product/detail/${p.id}|}" th:text="${p.name}"></a></h2>
                                                <span class="price"><span class="new">[[*{#numbers.formatDecimal(p.price, 0, 'COMMA', 0, 'POINT')}]] VNĐ</span></span>
                                                <p th:text="${p.description}"></p>
                                                <div class="list-action-btn fix">
                                                    <a th:attr="ng-click=@{|cart.add(${p.id})|}" class="add-to-cart">Add to cart</a>
                                                    <a href="wishlist.html" title="Wishlist"><i class="pe-7s-like"></i></a>
                                                    <a href="product-details.html" data-bs-toggle="modal" data-bs-target="#productModal" title="Quickview"><i class="pe-7s-look"></i></a>
                                                    <a href="product-details.html" title="Compare"><i class="pe-7s-repeat"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- list product-item end -->
                                    <div class="page-pagination text-center col-xs-12 fix mb-40">
                                        <ul>
                                            <li><a href="shop.html"><i class="fa fa-angle-left"></i></a></li>
 											<li  th:each="i: ${#numbers.sequence(1, totalPages)}">
                                            	<a th:if="${cid} != null and ${scid} == null" class="next" th:href="@{|/product/home/page/${i}?cid=${cid}|}">[[${i}]]</a>
					        					<a th:if="${scid} != null and ${cid} == null" class="next" th:href="@{|/product/home/page/${i}?scid=${scid}|}">[[${i}]]</a>
					        					<a th:unless="${cid} != null or ${scid} != null" class="next" th:href="@{|/product/home/page/${i}|}">[[${i}]]</a>
                                            </li>
                                            <li><a href="shop.html"><i class="fa fa-angle-right"></i></a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                   