<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" 
    th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<main>
 <!-- PAGE BANNER SECTION -->
        <div class="page-banner-section section">
            <div class="container">
                <div class="row">
                    <div class="page-banner-content col-xs-12">
                        <h2>Checkout</h2>
                        <ul class="breadcrumb">
                            <li><a th:href="@{|/home|}">Home</a></li>
                            <li><a th:href="@{|/cart|}">Cart</a></li>
                            <li class="active">Checkout</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BANNER SECTION -->

        <!-- PAGE SECTION START -->
        <div class="page-section section pt-0 pb-60">
            <div class="container">
                <div class="checkout-form">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 mb-40">
                            <form action="#">
                                <h3>CHECK OUT</h3>
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-30">
                                        <label for="b_f_name">Tài khoản <span class="required">*</span></label>
                                        <input id="username" type="text" th:value="${#request.remoteUser}" disabled/>
                                    </div>
                                     <div class="col-md-6 col-12 mb-30">
                                        <label for="b_f_name">Họ tên <span class="required">*</span></label>
                                        <input id="b_f_name" type="text"/>
                                    </div>
                                    <div class="col-12 mb-30">
                                        <label>Địa chỉ <span class="required">*</span></label>
                                        <input type="text" placeholder="Street address" ng-model="order.address"/>
                                    </div>
                                    <div class="col-12 mb-30">
                                        <label>State / County <span class="required">*</span></label>
                                        <input type="text" />
                                    </div>
                                    <div class="col-md-6 col-12 mb-30">
                                        <label for="b_phone">Phone  <span class="required">*</span></label>
                                        <input id="b_phone" type="text" placeholder="Phone Number" ng-model="order.phone"/>
                                    </div>
                                    <div class="col-md-6 col-12 mb-30">
                                        <label for="b_email">Email Address <span class="required">*</span></label>
                                        <input id="b_email" type="email" />
                                    </div>
                                </div>
                                <div class="order-notes">
                                    <label for="order_note">Ghi chú</label>
                                    <textarea id="order_note" placeholder="Ghi chú" ng-model="order.description"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-12 mb-40">
                            <div class="coupon-form mb-30">
                                <h3>coupon code</h3>
                                <p>Enter your coupon code if you have one</p>
                                <form action="#">
                                    <input type="text" placeholder="Coupon code" />
                                    <input type="submit" value="Apply" />
                                </form>
                            </div>
                            <div class="order-wrapper">
                                <h3>Your order</h3>
                                <div class="order-table table-responsive mb-30">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="product-name">Sản phẩm</th>
                                                <th class="product-total">Tổng cộng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in cart.items">
                                                <td class="product-name">
                                                    {{item.name}} <strong class="product-qty"> X {{item.qty}}</strong>
                                                </td>
                                                <td class="product-total">
                                                    <span class="amount">{{cart.formatNumber(item.price*item.qty)}} VNĐ</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Tổng của giỏ hàng</th>
                                                <td>{{cart.formatNumber(cart.amount)}} VNĐ</td>
                                            </tr>
                                            <tr>
                                                <th>Đơn hàng</th>
                                                <td><strong>{{cart.formatNumber(cart.amount)}} VNĐ</strong>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="payment-method">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" id="headingOne">
                                                <h4 class="panel-title mb-0">
                                                    <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            Direct Bank Transfer
                                            </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body p-3">
                                                    <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order wonât be shipped until the funds have cleared in our account.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" id="headingTwo">
                                                <h4 class="panel-title mb-0">
                                                    <a class="collapsed" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            Cheque Payment
                                            </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body p-3">
                                                    <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" id="headingThree">
                                                <h4 class="panel-title mb-0">
                                                    <a class="collapsed" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            PayPal
                                            </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body p-3">
                                                    <p>Pay via PayPal; you can pay with your credit card if you donât have a PayPal account.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-button mt-6">
                                        <input type="submit" value="Đặt hàng" ng-click="order.purchase()"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE SECTION END -->
</main>
</body>
</html>