<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Danh sách sản phẩm</h3>
				<br>
				<h5 class="card-title">Tổng sản phẩm: {{pager.totalQuantity}}</h5>
				
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				<table id="example1" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Hình ảnh</th>
							<th>Tên sản phẩm</th>
							<th>Giá</th>
							<th>Khuyến mãi</th>
							<th>Số lượng</th>
							<th>Ngày tạo</th>
							<th>Danh mục</th>
							<th>Thương hiệu</th>
							<th>Available</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "item in pager.items">
							<td><img  src="/admin/img/{{item.image1}}" style="width: 100px; height: 50px" ></td>
							<td>{{item.name}}</td>
							<td>{{item.price | number: 2}}</td>
							<td>{{item.price * (100-item.discount)/100 | number: 2}}</td>
							<td>{{item.quantity}}</td>
							<td>{{item.createDate | date: 'dd-MM-yyyy'}}</td>
							<td>{{item.category.name}}</td>
							<td>{{item.subcategory.name}}</td>
							<td>{{item.available?'Yes':'No'}}</td>
							<td align="center">
								<button class="btn btn-success" ng-click = "edit(item)">
									<i class="fa fa-edit" aria-hidden="true"></i>
								</button> <a class="btn btn-danger"> <i class="fa fa-trash"
									aria-hidden="true"></i>
							</a>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="panel-footer text-center">
					<button ng-click="pager.first()" class="btn btn-danger">
						<b>First</b>
					</button>
					<button ng-click="pager.prev()" class="btn btn-primary">
						<b>Previous</b>
					</button>
					<button class="btn btn-success">{{pager.page + 1}} of
						{{pager.count}}</button>
					<button ng-click="pager.next()" class="btn btn-primary">
						<b>Next</b>
					</button>
					<button ng-click="pager.last()" class="btn btn-danger">
						<b>Last</b>
					</button>
				</div>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
	<!-- /.col -->
</div>
<!-- /.row -->
