<!-- Header Cart -->
<div class="header-cart float-start">
	<!-- Cart Toggle -->
	<a class="cart-toggle dropdown-toggle" href="#" data-toggle="dropdown"
		id="dropdownCartBtn" data-bs-toggle="dropdown" aria-expanded="false">
		<i class="pe-7s-cart"></i> <span>{{cart.count}}</span>
	</a>
	<!-- Mini Cart Brief -->
	<div class="mini-cart-brief dropdown-menu"
		aria-labelledby="dropdownCartBtn">
		<div class="cart-items">
			<p>
				Bạn có <span>{{cart.count}}</span> sản phẩm trong giỏ hàng
			</p>
		</div>
		<!-- Cart Products -->
		<div class="all-cart-product clearfix" ng-repeat="item in cart.items">
			<div class="single-cart clearfix">
				<div class="cart-image">
					<a th:href="@{|/product/detail/{{item.id}}|}"><img th:src="@{|/admin/img/{{item.image1}}|}" alt="Image"></a>
				</div>
				<div class="cart-info">
					<h5>
						<a th:href="@{|/product/detail/{{item.id}}|}">{{item.name}}</a>
					</h5>
					<p>Giá : {{cart.formatNumber(item.price*item.qty)}} VNĐ</p>
					<p>Số lượng : {{item.qty}}</p>
					<a href="#" class="cart-delete" title="Remove this item" th:attr="ng-click=@{|cart.remove(item.id)|}"><i class="pe-7s-trash"></i></a>
				</div>
			</div>
		</div>
		<!-- Cart Total -->
		<div class="cart-totals">
			<h5>
				Tổng cộng : <span>{{cart.formatNumber(cart.amount)}} VNĐ</span>
			</h5>
		</div>
		<!-- Cart Button -->
		<div class="cart-bottom  clearfix">
			<a th:href="@{/cart}">Check out</a>
		</div>
	</div>
</div>