<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" 
    th:replace="~{/layout/index :: dynamic(~{::main})}">
    <script type="text/javascript" src="../static/css/editprofile.css"></script>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<main>
 <!-- PAGE BANNER SECTION -->
        <div class="page-banner-section section">
            <div class="container">
                <div class="row">
                    <div class="page-banner-content col-xs-12">
                        <h2>My Profile  <b class="text-danger">[[${#request.remoteUser}]]</b></h2>
                        <ul class="breadcrumb">
                            <li><a th:href="@{/home}">Home</a></li>
                            <li class="active">Profile</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BANNER SECTION -->

        <!-- PAGE SECTION START -->
        <div class="page-section section pt-100 pb-60">
            <div class="container">
                <div class="customer-login mb-40">
                    <!-- LOGIN START -->
                    <h3>Returning customer? <a data-bs-toggle="collapse" href="#checkout-login">Click here to Change password</a></h3>
                    <div id="checkout-login" class="checkout-login collapse fix">
                        <div class="checkout-login-wrapper mt-30">
                            <p>Quisque gravida turpis sit amet nulla posuere lacinia. Cras sed est sit amet ipsum luctus.</p>
                            <div class="row">
                                <div class="col-12 col-sm-6 col-xs-12">
                                    <form name="change_form" ng-submit="change_form()" novalidate>
                                     <div class="fix mb-20">
                                     		<div id="nameForget" style="color:white">[[${#request.remoteUser}]]</div>
                                            <label>Username <span class="required">*</span></label>
                                            <input   type="text"  th:value="${#request.remoteUser}" readonly="true"  /> 
                                        </div>
                                       <div class="fix mb-20">
                                            <label>Password <span class="required">*</span></label>
                                            <input type="password"  name="password" ng-model="pwd.new"  required ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/"/>
                                             <i class="fa fa-check text-success" ng-show="change_form.password.$dirty && change_form.password.$valid"></i>
		                                     <p class="text-danger" ng-show="change_form.password.$invalid">Nhập đúng định dạng password (chữ cái, ký tự và số)</p>
                                        </div>
                                        <div class="fix mb-20">
                                            <label>Confirm Password  <span class="required">*</span></label>
                                            <input type="password" name="confirm" ng-model="pwd.confirm" required ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/"/>
                                             <i class="fa fa-check text-success" ng-show="change_form.confirm.$dirty && change_form.confirm.$valid"></i>
		                                     <p class="text-danger" ng-show="change_form.confirm.$invalid">Nhập đúng định dạng password (chữ cái, ký tự và số)</p>
                                        </div>
                                        <div class="fix mb-20">					  
                                            <input type="submit" class="btn" value="CONFIRM"  ng-click="pw.change(pwd)" ng-disabled="change_form.$pristine || change_form.$invalid"/>
                                            <label class="remember-me-box">
                                        <input type="checkbox" />
                                        Remember me 
                                    </label>
                                        </div>
                                        <div class="row  "  ng-if="change_error"> 
	                                   <p class="text-danger text-center"><b><br />{{change_error}}</b></p>
	                             		</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- LOGIN END -->
                </div>
                ----------
         <div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->

    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" ng-src="{{'/images/users/' + account.photo}}" alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <!-- Profile picture upload button-->
                    <input type="file" id="photo" onchange="angular.element(this).scope().imageChanged(this.files)">
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form>
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Username  (how your name will appear to other users on the site)</label>
                            <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" ng-model="account.username" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="inputFullname">Fullname</label>
                            <input class="form-control" id="inputFullname" type="text" placeholder="Enter your fullname" ng-model="account.fullname">
                        </div>
                 
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                            <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" ng-model="account.email">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" ng-model="account.phone">
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Address</label>
                                <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your address" ng-model="account.address">
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="button" ng-click="update()">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
            </div>
        </div>
        <!-- PAGE SECTION END -->
</main>
</body>
</html>